body {margin: 0;}

img.imgprimbanner {
    width: 100%;
    position: fixed;
    top: 0px;
}

div.page_content {
    margin-left: 20%;
    padding: 1px 16px;
    margin-top: 12%;
}

div.menudesplegable {
    top: 25.4%;
    width: 20%;
    position: fixed;
    overflow: auto;
}

.accordion, .accordion1 {
    background-color: #f1f1f1;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    text-align: center;
}
.active, .accordion:hover, .accordion1:hover {
    background-color: #555;
    color: white;
}
.panel {
    padding: 0 18px;
    text-align: center;
    display: none;
    width: 100%;
    background-color: white;
    overflow: hidden;
}

@media screen and (max-width: 900px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}